
/*轮播图*/
.wrap{height: 380px;background:#f7f7f7;}
.wrap .wrap_banner{width: 1200px;height: 380px;margin: 0 auto;overflow: hidden;position: relative;}
.wrap .wrap_banner .round{z-index: 9999; position: absolute;top: 508px;width: 200px;height:18.5px;right: 50%;margin-right: -100px;}
.wrap .wrap_banner .round .adtap{text-align: center;}
.wrap .wrap_banner .round .adtap a{background: #fff;border-radius: 10px;cursor: pointer;display: inline-block;height: 10px;margin-right: 7px;width: 10px;overflow: hidden;vertical-align: middle;}
.wrap .wrap_banner .round .adtap a.current{background: transparent;border: 3px solid #fff;z-index: 9999;}
.wrap .wrap_banner .banner_arrow .arrow_prev{left: 231px;}
.wrap .wrap_banner .banner_arrow .arrow_next{left: 901px;}
.wrap .wrap_banner .banner_arrow .arrow_prev,.wrap .wrap_banner .banner_arrow .arrow_next{background-color: rgba(0,0,0,0.2);color: #fff;display: block;height: 45px;line-height: 45px;overflow: hidden;position: absolute;top: 188px;width: 29px;z-index: 12;}
.banner_arrow .arrow_prev i, .banner_arrow .arrow_next i{background:url(../images/arrow.png) no-repeat;cursor: pointer;display: block;height: 21px;margin: 12px 0 0 9px;overflow: hidden;width: 13px;}
.banner_arrow .arrow_prev i{background-position: top left;}
.banner_arrow .arrow_next i{background-position: top right;}
.wrap .wrap_banner .banner_arrow .arrow_prev:hover,.wrap .wrap_banner .banner_arrow .arrow_next:hover{background-color:rgba(0,0,0,0.4)}
.wrap .wrap_banner .content{margin-left: 230px;width: 700px;overflow: hidden; height:360px;margin-top: -360px;}
.wrap .wrap_banner .content .banner{width: 700px;height:360px;position: relative;float: left;}
.active{z-index: 2;}
.wrap .wrap_banner .banner li{opacity: 1;top:175;float:right;position: absolute;display: block !important;width: 700px;}
.wrap .wrap_banner .banner_left{width: 210px;height: 380px;background: red;position: relative;left:0;z-index: 10;}
.wrap .wrap_banner .banner_left dl{width: 190px;height: 377px;overflow: hidden;padding: 2px 10px 1px;background:#fff;}
.wrap .wrap_banner .banner_left dl dd{float:left;width: 50%;height: 54px;overflow: hidden;line-height: 53px;text-align: center;background: url(../images/dotted_line.png) repeat-x bottom;}
.wrap .wrap_banner .banner_left dl dd a{display: block;height: 50px;line-height: 50px;text-align: center;background: #fff;font-size: 14px;position: relative;color: #5e5e5e;text-decoration: none;}
.wrap .wrap_banner .banner_left dl .ct_icon{display: inline-block;width: 24px;height:24px;vertical-align: middle;position: relative;top: -2px;background: url(../images/ct_icons.png) no-repeat 0 0;margin-right:5px;}
.wrap .wrap_banner .banner_left dl .ct_line{float: right;width: 1px;height: 15px;background-color: #eee;margin-top: 18px;}
.wrap .wrap_banner .banner_left dl .ct_icon_nvzhuang{background-position: 0 0;}
.wrap .wrap_banner .banner_left dl .ct_icon_nanzhuang{background-position: -24px 0;}
.wrap .wrap_banner .banner_left dl .ct_icon_xiezi{background-position: -48px 0;}
.wrap .wrap_banner .banner_left dl .ct_icon_xiangbao{background-position: -72px 0;}
.wrap .wrap_banner .banner_left dl .ct_icon_muying{background-position: -96px 0;}
.wrap .wrap_banner .banner_left dl .ct_icon_meizhuang{background-position: -120px 0;}
.wrap .wrap_banner .banner_left dl .ct_icon_jujia{background-position: -144px 0;}
.wrap .wrap_banner .banner_left dl .ct_icon_jiafang{background-position: -168px 0;}
.wrap .wrap_banner .banner_left dl .ct_icon_wenti{background-position: -192px 0;}
.wrap .wrap_banner .banner_left dl .ct_icon_meishi{background-position: -216px 0;}
.wrap .wrap_banner .banner_left dl .ct_icon_shuma{background-position: -240px 0;}
.wrap .wrap_banner .banner_left dl .ct_icon_dianqi{background-position: -264px 0;}
.wrap .wrap_banner .banner_left dl .ct_icon_neiyi{background-position: -288px 0;}
.wrap .wrap_banner .banner_left dl .ct_icon_peishi{background-position: -312px 0;}
.wrap .wrap_banner .banner_left dl .border_none{background:none;}
.wrap .wrap_banner .banner_right{width: 250px;height: 360px;background: #f7f7f7;;box-shadow: none;position: absolute;right: 6px;top: 20px;}
.wrap .wrap_banner .banner_right dl{width: 251px;height: 360px;overflow: hidden;background-color: #e2e2e2;}
.wrap .wrap_banner .banner_right dl dd{float:left;display: inline;width: 124.5px;height: 119px;overflow: hidden;text-align: center;background-color: #fff;margin:  0 1px 1px 0;};
.wrap .wrap_banner .banner_right dl dd img{width: 124px;max-height: 119px;}
.wrap .wrap_banner .banner_right dl dd.last{width: 250px;height: 120px;}
.wrap .wrap_banner .banner_right dl dd.last img{width: 250px;max-height: 120px;}



