

/*登陆*/


.login_content .login_center .content_loading{width: 450px;float: left;display: inline;}
.login_content .login_center .login_img{overflow: hidden;width: 358px!important;text-align: right;float: right;display: inline;}
.login_content .login_center .content_loading ul{clear: both;}
.login_content .login_center .content_loading li{padding-bottom: 25px;overflow: visible;position: relative;height: 45px;clear: both;}
.login_content .login_center .content_loading li label.normal{width: 80px;text-align: center;float: left;display: inline;height: 20px;margin-top: 8px;font-size: 14px;}
.login_center .content_loading .login_list li.active .box_border, .login_center .content_laoding .login_list li.active.error_box .box_border{border: 1px solid #666;}
.login_content .login_center .content_loading .box_border{border: 1px solid #666;width: 270px;float: left;}
.login_list .user_img{background: url(../images/name2.jpg) no-repeat #f1f1f1;width: 39px;height: 38px;float: left;}
.login_center .content_loading .login_list li .normal_input{ border:0;width: 226px;padding: 12px 0 12px 5px;}
.dele_info_img{position: absolute;top: 14px;right: 108px;width: 13px;height: 13px;background: url(../images/de_info.gif) no-repeat;cursor: pointer;display: none;}
.login_center .content_loading li .error_box{margin-left: 10px;width: 16px;margin-top: 10px;color: #666;float: left;overflow: hidden;} 
.login_center .content_loading li:after{clear: both;content: "";display: block;height: 0;visibility: hidden;}
.login_list .code_img{background: url(../images/code2.jpg) no-repeat #f1f1f1;width: 39px;height: 38px;float: left;}

.login_content .login_center .content_loading .clear{zoom: 1;}
.login_content .login_center .content_loading .chex_d{padding-bottom: 8px;height: 20px;}
.login_content .login_center .content_loading li .chex{width: 280px;float: left;}
.login_content .login_center .content_loading li .chex span{color: #5e5e5e;float: left;}
.login_content .login_center .content_loading li .chex .ck{vertical-align: -2px;margin-right: 5px;}
.login_content .login_center .content_loading li .chex .forget{float: right;color: #999;}
.login_content .login_center .content_loading li .btn{float: left;width: 260px;margin-left: 84px;}
.login_content .login_center .content_loading li .btn .sub{width: 260px;height: 40px;cursor: pointer;font-size: 16px;border-radius: 2px;background-position: 0 0 ;color: #fff;background: url(../images/new-login.gif) no-repeat;}
.login_content .login_center .content_loading .third_login{text-align: center;}



